$raise-graybox: #f5f5f5;
$raise-graybox-border: #d9d9d9;
$raise-motivation-box: #f0f6fb;
$raise-table-color: #0b5b51;
$raise-light-black: #424242;
$raise-light-gray: #919191;

ol.os-raise-noindent {
  padding-left: 0;
  list-style-position: inside;
}

.os-raise-indent {
  padding-left: 2rem;
}

div.os-raise-graybox {
  border: 1px solid $raise-graybox-border;
  padding: 16px;
  background-color: $raise-graybox;
  border-radius: 5px;
}

div.os-raise-motivation {
  @extend %os-background;
  @extend %os-box-formatting;

  display: flex;
  align-items: center;
}

%os-background {
  background: $raise-motivation-box;
  border-radius: 8px;
  background-image: url("https://k12.openstax.org/contents/raise/resources/c4c17785a634fd81884f3e2f43dc073ad2285ced");
  background-repeat: no-repeat;
  background-position: -10px 50%;
  background-size: 104px;
}

%os-box-formatting {
  border: 1px solid $raise-motivation-box;
  padding: 16px 16px 0 90px;
  font-weight: bold;
  margin-bottom: 1rem;
  min-height: 80px;
}

table.os-raise-standardtable {
  th {
    border: 1px solid black;
    vertical-align: bottom;
    padding: 8px 16px;
  }

  td {
    vertical-align: top;
    border: 1px solid black;
    padding: 8px 16px;
  }
}

table.os-raise-basictable {
  /* border-collapse: separate paired with border-spacing: 0 allows for a border-radius
     to be applied to the entire table (border-collapse: collapse will ignore any border
     radius applied to the table)
  */
  border: 2px solid $raise-table-color;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 5px;

  caption {
    color: $raise-light-black;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
  }

  thead {
    background-color: $raise-table-color;
  }

  th,
  td {
    text-align: center;
    padding: 16px;
  }

  th {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
  }

  td {
    font-size: 16px;

    color: $raise-light-black;
    background-color: #ffffff;
    border-left: 1px solid $raise-table-color;
    border-top: 1px solid $raise-table-color;
  }
}

table.os-raise-textheavytable {
  @extend table, .os-raise-basictable;

  table-layout: fixed;
  width: 100%;

  th,
  td {
    text-align: left;
  }

  td:first-child {
    border-left: none;
  }

  p {
    margin-bottom: 0;
  }
}

table.os-raise-horizontaltable {
  @extend table, .os-raise-basictable;

  width: 100%;

  th {
    background-color: $raise-table-color;
    text-align: left;
  }

  tr:first-child td {
    border-top: none;
  }
}

table.os-raise-midsizetable {
  @extend table, .os-raise-basictable;

  table-layout: fixed;
  width: 66%;
  margin: auto;

  td:first-child {
    border-left: none;
  }
}

table.os-raise-skinnytable {
  @extend table, .os-raise-basictable;

  table-layout: fixed;
  width: 100%;
  max-width: 280px;

  td:first-child {
    border-left: none;
  }
}

table.os-raise-wideadjustedtable {
  @extend table, .os-raise-basictable;

  width: 100%;

  td:first-child {
    border-left: none;
  }
}

table.os-raise-wideequaltable {
  @extend table, .os-raise-wideadjustedtable;

  table-layout: fixed;
}

table.os-raise-doubleheadertable {
  table-layout: fixed;
  width: 100%;

  caption {
    color: $raise-light-black;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
  }

  th,
  td {
    border: 1px solid $raise-light-gray;
    text-align: center;
    padding: 16px;
  }

  th {
    color: #000000;
    font-size: 18px;
    background-color: #84ada8;
    font-weight: 700;
  }

  thead tr th:first-child {
    border: none;
    background-color: #ffffff;
  }

  td {
    color: $raise-light-black;
    font-size: 16px;
    background-color: #ffffff;
  }
}

.os-raise-d-flex {
  display: flex;
  flex-wrap: wrap;
}

.os-raise-align-items-center {
  align-items: center;
}

.os-raise-justify-content-center {
  justify-content: center;
}

.os-raise-justify-content-between {
  justify-content: space-between;
}

.os-raise-justify-content-evenly {
  justify-content: space-evenly;
}

.os-raise-text-center {
  text-align: center;
}
