$raise-graybox: #f5f5f5;
$raise-graybox-border: #d9d9d9;
$raise-motivation-box: #f0f6fb;
$raise-table-color: #0b5b51;
$raise-light-black: #424242;
$raise-light-gray: #919191;
$os-dark-green: #0A5B50;

ol.os-raise-noindent {
  padding-left: 0;
  list-style-position: inside;
}

.os-raise-indent {
  padding-left: 2rem;
}

div.os-raise-graybox {
  border: .0625rem solid $raise-graybox-border;
  padding: 1rem;
  background-color: $raise-graybox;
  border-radius: .3125rem;
}

div.os-raise-motivation {
  @extend %os-background;
  @extend %os-box-formatting;

  display: flex;
  align-items: center;
}

%os-background {
  background: $raise-motivation-box;
  border-radius: .5rem;
  background-image: url("https://k12.openstax.org/contents/raise/resources/c4c17785a634fd81884f3e2f43dc073ad2285ced");
  background-repeat: no-repeat;
  background-position: -.625rem 50%;
  background-size: 6.5rem;
}

%os-box-formatting {
  border: .0625rem solid $raise-motivation-box;
  padding: 1rem 1rem 0 5.625rem;
  font-weight: bold;
  margin-bottom: 1rem;
  min-height: 5rem;
}

table.os-raise-standardtable {
  th {
    border: .0625rem solid black;
    vertical-align: bottom;
    padding: .5rem 1rem;
  }

  td {
    vertical-align: top;
    border: .0625rem solid black;
    padding: .5rem 1rem;
  }
}

%os-raise-basictable {
  /* border-collapse: separate paired with border-spacing: 0 allows for a border-radius
     to be applied to the entire table (border-collapse: collapse will ignore any border
     radius applied to the table)
  */
  border: .125rem solid $raise-table-color;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: .3125rem;

  caption {
    color: $raise-light-black;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
  }

  thead {
    background-color: $raise-table-color;
  }

  th,
  td {
    text-align: center;
    padding: 1rem;
  }

  th {
    font-size: 1.125rem;
    font-weight: 700;
    color: #fff;
  }

  td {
    font-size: 1rem;
    color: $raise-light-black;
    background-color: #fff;
    border-left: .0625rem solid $raise-table-color;
    border-top: .0625rem solid $raise-table-color;
  }
}

%os-raise-textheavytable-base {
  @extend %os-raise-basictable;

  width: 100%;

  th,
  td {
    text-align: left;
  }

  th {
    vertical-align: bottom;
  }

  td {
    vertical-align: top;
  }

  td:first-child {
    border-left: none;
  }
}

table.os-raise-doubleheadertable {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  caption {
    color: $raise-light-black;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
  }

  th,
  td {
    border: .0625rem solid $raise-light-gray;
    text-align: center;
    padding: 1rem;
  }

  th {
    color: #000;
    font-size: 1.125rem;
    background-color: #84ada8;
    font-weight: 700;
  }

  thead tr th:first-child {
    border: none;
    background-color: #fff;
  }

  td {
    color: $raise-light-black;
    font-size: 1rem;
    background-color: #fff;
  }
}

table.os-raise-textheavytable {
  @extend %os-raise-textheavytable-base;

  table-layout: fixed;
}

table.os-raise-textheavyadjustedtable {
  @extend %os-raise-textheavytable-base;

  table-layout: auto;

}

table.os-raise-midsizetable {
  @extend %os-raise-basictable;

  table-layout: fixed;
  width: 66%;
  margin: auto;

  td:first-child {
    border-left: none;
  }
}

table.os-raise-skinnytable {
  @extend %os-raise-basictable;

  table-layout: fixed;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 15rem;

  td:first-child {
    border-left: none;
  }
}

table.os-raise-wideadjustedtable {
  @extend %os-raise-basictable;

  width: 100%;

  td:first-child {
    border-left: none;
  }
}

table.os-raise-wideequaltable {
  @extend %os-raise-basictable;

  table-layout: fixed;
  width: 100%;

  td:first-child {
    border-left: none;
  }
}

table.os-raise-horizontaltable {
  @extend %os-raise-basictable;

  width: 100%;

  /* stylelint-disable-next-line no-descending-specificity */
  th {
    background-color: $raise-table-color;
    text-align: left;
  }

  tr:first-child td {
    border-top: none;
  }
}

.os-raise-mb-0 {
  margin-bottom: 0;
}

.os-raise-mx-auto {
  margin: auto;
}

.os-raise-d-flex {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5rem;
}

.os-raise-d-flex-nowrap {
  display: flex;
}

.os-raise-gap-1 {
  gap: 1rem;
}

.os-raise-gap-2 {
  gap: 2rem;
}

.os-raise-align-items-center {
  align-items: center;
}

.os-raise-justify-content-center {
  justify-content: center;
}

.os-raise-justify-content-between {
  justify-content: space-between;
}

.os-raise-justify-content-evenly {
  justify-content: space-evenly;
}

.os-raise-text-center {
  text-align: center;
}

.os-raise-text-bold {
  font-weight: 700;
}

.os-raise-text-italicize {
  font-style: italic;
}

.os-raise-media-responsive {
  max-width: 100%;
  height: auto;
}

.os-raise-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 56.25%;
}

.os-raise-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Extra Support Box Styles
.os-raise-extrasupport {
  border: .0625rem solid #757575;
  border-radius: .5rem;
}

.os-raise-extrasupport .os-raise-extrasupport-header {
  background-color: $raise-graybox;
  border-radius: .5rem .5rem 0 0;
  border-bottom: .0625rem solid $os-dark-green;
  padding: .75rem;
}

.os-raise-extrasupport .os-raise-extrasupport-title {
  color: $raise-light-black;
  font-weight: 700;
  margin-bottom: .25rem;
}

.os-raise-extrasupport .os-raise-extrasupport-name {
  color: $os-dark-green;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.os-raise-extrasupport .os-raise-extrasupport-body {
  padding: .75rem;
}

.os-raise-extrasupport a {
  color: #0A3E5B;
  text-decoration: underline;
}

.os-raise-accordion {
  width: 100%;
}

.os-raise-accordion-item {
  border-bottom: 1px solid #D9D9D9;
}

.os-raise-accordion-header {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0.625rem;
  border-bottom: 1px solid #D9D9D9;
  color: $os-dark-green;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.os-raise-accordion-header:hover {
  background-color: #F5F5F5;
}

.os-raise-accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease;
  background-color: #F5F5F5;
  padding: 0 0.625rem;
}

.os-raise-accordion-item.active .os-raise-accordion-content {
  transition: max-height 0.2s ease;
  padding: 0 0.625rem 0.625rem;
  background-color: #F5F5F5;
  border-bottom: 1px solid #D9D9D9;
}

.os-raise-accordion-item.active .os-raise-accordion-header {
  background-color: #F5F5F5;
  border-bottom: none;
}

$arrow-svg: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='Line' d='M15 1L8 8L1 1' stroke='%230A5B50' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

.os-raise-accordion-header::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.625rem;
  width: 1rem;
  height: 0.5625rem;
  transform: translateY(-10%);
  background-image: $arrow-svg;
  transition: transform 0.2s ease;
}

.os-raise-accordion-item.active .os-raise-accordion-header::after {
  transform: rotate(180deg);
}

// Student Reflection Styles
.os-raise-student-reflection {
  border: .0625rem solid $raise-graybox;
  border-top: solid $os-dark-green;
  border-radius: .5rem;
  background-color: $raise-graybox;
  padding: .75rem;
}

.os-raise-student-reflection .os-raise-student-reflection-title {
  color: $os-dark-green;
  font-weight: 700;
  font-size: 1.25rem;
}
