$os-correct-answer-border-color: #019920;
$os-selected-focus-border-color: #159eb2;
$os-wrong-answer-border-color: #fc0516;
$os-default-answer-border-color: #424242;
$os-medium-gray: #626262;
$os-light-gray: #d9d9d9;
$os-answer-background: #f5f5f5;
$os-default-box-shadow: #808080;
$os-dark-green: #0A5B50;

// Multiple Choice & Multi Select Styles
div.os-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.os-default-answer-choice {
  border: .125rem solid $os-default-answer-border-color;
  border-radius: .3125rem;
  box-shadow: 0 .125rem .125rem $os-default-box-shadow;
}

div.os-default-answer-choice:focus-within {
  border-color: $os-selected-focus-border-color;
}

div.os-default-answer-choice > div:hover {
  background-color: $os-answer-background;
}

label.os-label-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: .75rem .5rem .75rem .8rem;
  cursor: pointer;
}

// Multiple Choice Styles
input.os-hide-input-button {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: .0625rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: .0625rem;
}

// Multi Select Styles
.os-form-check-input[type="checkbox"] {
  margin-right: .5rem;
  margin-top: 0;
}

div.os-correct-answer-choice .os-form-check-input[type="checkbox"] {
  border-color: $os-correct-answer-border-color;
}

.os-form-check-input.os-form-check-input:focus {
  box-shadow: 0 0 0 .25rem #159db271;
  border-color: $os-selected-focus-border-color;
}

.os-form-check-input.os-form-check-input:checked {
  background-color: $os-selected-focus-border-color;
  border-color: $os-selected-focus-border-color;
}

// Dropdown Styles
select.os-form-select:hover {
  background-color: $os-answer-background;
}

.os-form-select.os-form-select:focus {
  border-color: $os-selected-focus-border-color;
  box-shadow: 0 .125rem .125rem $os-default-box-shadow;
}

.os-form-select.os-form-select:disabled {
  background-color: $os-answer-background;
}

// Input Styles
.os-form-control.os-form-control:focus {
  border-color: $os-selected-focus-border-color;
  box-shadow: 0 .125rem .125rem $os-default-box-shadow;
}

.os-form-control.os-form-control:disabled {
  background-color: $os-answer-background;
}

math-field.os-form-control.os-disabled {
  background-color: $os-answer-background;
}

// All Interactive Styles (Textarea only uses os-feedback-message)
.os-selected-answer-choice.os-selected-answer-choice {
  border-color: $os-selected-focus-border-color;
  background-color: $os-answer-background;
}

.os-correct-answer-choice.os-correct-answer-choice {
  border-color: $os-correct-answer-border-color;
}

.os-wrong-answer-choice.os-wrong-answer-choice {
  border-color: $os-wrong-answer-border-color;
}

div.os-feedback-message {
  background-color: $os-light-gray;
  padding: .5rem;
  border-radius: .3125rem;
}

div.os-feedback-message p {
  color: $os-medium-gray;
}

p.os-attempts-text {
  color: $os-medium-gray;
}

div.os-justify-content-end {
  justify-content: end;
}

.os-disabled.os-disabled {
  pointer-events: none;
  box-shadow: none;
}

.os-text-center {
  text-align: center;
}

// All Interactives + CTA Styles
%os-submit-button-base {
  border-radius: .5rem;
  padding: 1rem 5rem;
  color: #FFF;
  font-weight: 700;
}

%os-submit-button-base:hover:not([disabled]) {
  background-image: linear-gradient((rgba(0 0 0 / 20%))0 0);
  box-shadow: none;
}

%os-submit-button-base:active:not([disabled]) {
  background-image: linear-gradient((rgba(255 255 255 / 20%))0 0);
  box-shadow: none;
}

%os-submit-button-base:disabled {
  opacity: .5;
  box-shadow: none;
}

.os-submit-button-default-theme {
  @extend %os-submit-button-base;

  background-color: #757575;
  border: 1px solid #757575;
  box-shadow: 0 .125rem .25rem 0 hsla(0deg 0% 46% 25%);
}

.os-submit-button-style-theme {
  @extend %os-submit-button-base;

  background-color: #0A5B50;
  border: 1px solid #0A5B50;
  box-shadow: 0 .125rem .25rem 0 hsla(0deg 0% 0% 25%);
}

// Icon Styles
.os-ml {
  margin-left: .7rem;
}

.os-mr {
  margin-right: .7rem;
}

// Custom Checkbox, Dropdown, & Input Styles 
.os-flex {
  display: flex;
}

.os-align-items-center {
  align-items: center;
}

// Custom Checkbox
.os-height-100 {
  height: 100%;
}

// Math-field Styles
math-field::part(virtual-keyboard-toggle) {
  display: none;
}

math-field::part(menu-toggle) {
  display: none;
}

// Textarea Styles
.os-textarea-disabled.os-textarea-disabled {
  box-shadow: none;
}

// Search Styles
%os-search-container-border {
  border: 1px solid $os-light-gray;
  border-radius: 5px; 
}

.os-search-form {
  @extend %os-search-container-border;

  display: flex; 
  flex-direction: column; 
  background-color: #FFF;
  padding: 1rem
}

.os-search-form input {
  @extend %os-search-container-border;

  padding: .5rem;
}

.os-search-results-container {
  margin-top: 1rem;
}

.os-search-results-count-container {
  @extend %os-search-container-border; 

  padding: 1rem;
  margin-top: 1rem;
}

.os-search-magnifying-glass {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5l-1.5 1.5l-5-5v-.79l-.27-.27A6.52 6.52 0 0 1 9.5 16A6.5 6.5 0 0 1 3 9.5A6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14S14 12 14 9.5S12 5 9.5 5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 1.5rem;
  padding-left: 2rem;
}

.os-search-student-content-toggle-container {
  @extend %os-search-container-border;

  padding: .5rem;
}

.os-search-hit {
  border-bottom: .1rem solid #d9d9d9;
}

.os-search-hit:not(:first-child) {
  margin-top: .5rem;
}

.os-search-results-highlights {
  margin-bottom: .5rem;
  font-size: .875rem;
  color: #444;
}

.os-search-content-type {
  font-size: 1rem;
  font-weight: 700;
}

.os-search-heading {
  font-size: 1rem;
  font-weight: 700;
}

.os-search-results-text {
  font-size: .875rem;
}

.os-search-error-message {
  color: $os-wrong-answer-border-color;
  text-align: center;
}

// CTA Styling
%os-cta-container-base {
  display: flex;
  flex-direction: column;
}

.os-cta-container-default-theme {
  @extend %os-cta-container-base;
}

.os-cta-container-style-theme {
  @extend %os-cta-container-base;

  background-color: #F5F5F5;
  border: 1px solid #F5F5F5;
  box-shadow: 0 .25rem #75757540; 
  border-radius: .5rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}

.os-cta-container-style-theme:has(%os-submit-button-base:disabled) {
  box-shadow: none;
}

.os-cta-container-default-theme > button {
  align-self: center;
}