$raise-correct-answer-border-color: #019920;
$raise-selected-focus-border-color: #159eb2;
$raise-wrong-answer-border-color: #fc0516;
$raise-default-answer-border-color: #424242;
$raise-medium-gray: #626262;
$raise-light-gray: #d9d9d9;
$raise-answer-background: #f5f5f5;

div.os-raise-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

div.os-raise-default-answer-choice {
  border: 2px solid $raise-default-answer-border-color;
  border-radius: 5px;
  box-shadow: 0 2px 2px #808080;
}

div.os-raise-default-answer-choice:focus-within {
  border-color: $raise-selected-focus-border-color;
}

div.os-raise-default-answer-choice > div:hover {
  background-color: $raise-answer-background;
}

div.os-raise-no-box-shadow {
  box-shadow: none;
}

div.os-raise-selected-answer-choice {
  border-color: $raise-selected-focus-border-color;
  background-color: $raise-answer-background;
}

div.os-raise-correct-answer-choice {
  border-color: $raise-correct-answer-border-color;
}

div.os-raise-wrong-answer-choice {
  border-color: $raise-wrong-answer-border-color;
}

label.os-raise-fill-label-container {
  width: 100%;
  height: 100%;
  padding: 1rem 0.5rem 1rem 0.8rem;
  cursor: pointer;
}

input.os-raise-hide-input-button {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

div.os-raise-feedback-message {
  background-color: $raise-light-gray;
  padding: 0.5rem;
  border-radius: 5px;
}

div.os-raise-feedback-message p {
  color: $raise-medium-gray;
}

p.os-raise-attempts-text {
  color: $raise-medium-gray;
}

div.os-raise-justify-content-end {
  justify-content: end;
}

select.form-select {
  border: 2px solid $raise-default-answer-border-color;
  border-radius: 5px;
  box-shadow: 0 2px 2px #808080;
  padding: .75rem 2.25rem .75rem .75rem;
  cursor: pointer;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 22 22"%3E%3Cpath fill="currentColor" d="m7 10l5 5l5-5z"%2F%3E%3C%2Fsvg%3E'), linear-gradient($raise-answer-background, $raise-answer-background),;
  background-size: 40px 50px;
  background-position: right 0 center;
  color: $raise-medium-gray;
}

select.form-select:hover {
  background-color: $raise-answer-background;
}

select.form-select:focus {
  background-color: #fff;
  border-color: $raise-selected-focus-border-color;
  box-shadow: 0 2px 2px #808080;
}

select.form-select:disabled {
  background-color: $raise-answer-background;
}

select.os-raise-selected-answer-choice {
  border-color: $raise-selected-focus-border-color;
  background-color: $raise-answer-background;
}

select.os-raise-correct-answer-choice {
  background-color: $raise-answer-background;
  border-color: $raise-correct-answer-border-color;
  box-shadow: none;
}

select.os-raise-wrong-answer-choice {
  background-color: $raise-answer-background;
  border-color: $raise-wrong-answer-border-color;
  box-shadow: none;
}

.disabled {
  pointer-events: none;

}

.os-raise-ml {
  margin-left: 0.7rem;
}

.os-raise-flex {
  display: flex;
}

.os-raise-height-100 {
  height: 100%;
}
