$raise-correct-answer-border-color: #05bda3;
$raise-button-color: #0b5b51;
$raise-medium-gray: #626262;
$raise-light-gray: #d9d9d9;

div.os-raise-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

div.os-raise-default-answer-choice {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0px 2px 2px #07070742;
}

div.os-raise-default-answer-choice:focus-within {
  border-color: blue;
}

div.os-raise-correct-answer-choice {
  border-color: $raise-correct-answer-border-color;
}

div.os-raise-wrong-answer-choice {
  border-color: red;
}

button.os-raise-button {
  cursor: pointer;
  border-radius: 5px;
  padding: 0.4rem 2rem;
  background-color: #0b5b51;
  border: none;
  box-shadow: 0px 2px 2px #07070742;
  color: #fff;
  font-weight: 700;
}

button.os-raise-button:hover {
  background-color: #13a895;
  transition: 0.7s;
}

button.os-raise-button:active {
  transform: scale(0.98);
  box-shadow: 0px 2px 2px #07070742;
}

label.os-raise-100-height-width {
  width: 100%;
  height: 100%;
}

div.os-raise-feedback-message {
  background-color: $raise-light-gray;
  padding: 0.5rem;
  border-radius: 5px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // min-height: 2.5rem;
}

div.os-raise-feedback-message p {
  color: $raise-medium-gray;
}

span.os-raise-attempts-text {
  color: $raise-medium-gray;
}

div.os-raise-justify-content-end {
  justify-content: end;
}
